<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Diversity in India</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link href="custom.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	Carmel Convent School, Chandigarh
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="../../index.html">Home</a>
                    </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Various Diversities <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="../../Views/Geographical/geographical.html">Geographical Diversity</a></li>
                            <li><a href="../../Views/Dance/dance.html">Dance, Music and Art</a></li>
							<li><a href="../../Views/Climate/climate.html">Climate Diversity</a></li>
                            <li><a href="../../Views/Social/social.html">Social Diversity</a></li>
                            <li><a href="../../Views/Linguistic/linguistic.html">Linguistic Diversity</a></li>
                            <li><a href="../../Views/Religious/religious.html">Religious Diversity</a></li>
                            <li><a href="../../Views/Cultural/cultural.html">Cultural Diversity</a></li>
						</ul>
					</li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1><br />Climate Diversity</h1> 
            </div>
        </div>
    </header>

        <section class="content content-2">
            <div class="container">
                <div class="row">
                    <div >
                        <p class="lead text-light">
                            The climate of India is interesting and complex because India's topography is so diverse. India sees a wide range of weather conditions throughout the enormous continent, which ranges from desert plains, to mountains, to forests, to beaches. That being said, the climate ranges from equatorial to alpine. The temperatures can differ drastically from one region of the country to another. According to the Köppen system, a widely used system that determines an area's climate based on its vegetation, India has six primary climate types.
                            <br />
                            <br />
                            India has desert in the western region, alpine tundra and some glaciers in the northern region, humid tropical regions that support rain-forests in the southwestern region, and its islands. Different regions have very different micro-climates as well.
                            <br />
                            <br />
                            India has four basic seasons: winter in January and February, summer from March through May, monsoon season from June through September, and an after monsoon period from October through December. My wife and I were married in the western region, in the state of Gujarat, in December of 2007, during the post-monsoon period. A that time, the weather was warm and comfortable. I found the post monsoon season to be a good month to visit India. So, consider checking out an India destination in this season.
                            <br />
                            <br />
                            The unique regional climate of India is directly influenced by its respective geology and geography. For example, the Himalayan Mountains in the north play the role of a barrier to the freezing katabatic winds that blow south through India from Central Asia. The Himalayas keep North India warmer, or at least only mildly cold during winter, and keep the same region fairly hot during the summer.
                            <br />
                            <br />
                        </p>
                    </div>                
                    
                </div>
            </div>
        </section>
    <!-- jQuery -->
    <script src="../../js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="../../js/custom.js"></script>

</body>

</html>
