<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Diversity in India</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link href="custom.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	Carmel Convent School, Chandigarh
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="../../index.html">Home</a>
                    </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Various Diversities <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="../../Views/Geographical/geographical.html">Geographical Diversity</a></li>
                            <li><a href="../../Views/Dance/dance.html">Dance, Music and Art</a></li>
							<li><a href="../../Views/Climate/climate.html">Climate Diversity</a></li>
                            <li><a href="../../Views/Social/social.html">Social Diversity</a></li>
                            <li><a href="../../Views/Linguistic/linguistic.html">Linguistic Diversity</a></li>
                            <li><a href="../../Views/Religious/religious.html">Religious Diversity</a></li>
                            <li><a href="../../Views/Cultural/cultural.html">Cultural Diversity</a></li>
						</ul>
					</li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1><br />Geographical Diversity</h1> 
            </div>
        </div>
    </header>

        <section class="content content-2">
            <div class="container">
                <div class="row">
                    <div >
                        <p class="lead text-light">Spanning an area of 3,287,263 square kilometers, India is a vast country with great diversity of physical features like dry deserts, evergreen forests, snowy Himalayas, a long coast and fertile plains. Certain parts in India are so fertile that they are counted amongst the most fertile regions of the world, while other are so unproductive and barren that hardly anything can be grown there.
                            <br />
                            <br />
                            The region of Indo-Gangetic valley belongs to the first category, while certain areas of Rajasthan fall under the latter category. From the point of climate, there is a sharp contrast; India has every variety of climates from the blazing heat of the plains, as hot in places as hottest Africa to freezing points of the Himalayas as in the Arctic.
                            <br />
                            <br />
                            The Himalayan ranges which are always covered with snow are very cold while the deserts of Rajasthan are well known for their heat. As India is dependent on Monsoons, the rainfall is not uniform across the country. While the places like Mawsynram and Cherapunji in Meghalaya, which are considered to be the places which receives highest amount of rainfall in the world gets rainfall almost all the year, places like Sindh and Rajasthan gets hardly any rainfall in an year.</p>
                    </div>                
                    
                </div>
            </div>
        </section>
    <!-- jQuery -->
    <script src="../../js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="../../js/custom.js"></script>

</body>

</html>
