<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Diversity in India</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link href="custom.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	Carmel Convent School, Chandigarh
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="../../index.html">Home</a>
                    </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Various Diversities <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="../../Views/Geographical/geographical.html">Geographical Diversity</a></li>
                            <li><a href="../../Views/Dance/dance.html">Dance, Music and Art</a></li>
							<li><a href="../../Views/Climate/climate.html">Climate Diversity</a></li>
                            <li><a href="../../Views/Social/social.html">Social Diversity</a></li>
                            <li><a href="../../Views/Linguistic/linguistic.html">Linguistic Diversity</a></li>
                            <li><a href="../../Views/Religious/religious.html">Religious Diversity</a></li>
                            <li><a href="../../Views/Cultural/cultural.html">Cultural Diversity</a></li>
						</ul>
					</li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1><br />Dance, Music and Art</h1> 
            </div>
        </div>
    </header>

        <section class="content content-2">
            <div class="container">
                <div class="row">
                    <div >
                        <p class="lead text-light">
                            Incredible India is a storehouse of the great heritage of art, music, and dance. Indian music & dance even though diverse, is unified by common identification of expression of art. Many music and dance forms have been even used in India as a form of worship for thousands of years and to tell stories and pass down cultural identity.
                        <br />
                        <br />
                            Art is a reflection of society. Art includes various branches of painting, music, literature, dance and other creative activities. They have a significant impact on society, religion, and education. Paintings, as well as music, literature, dance, reflect the present-day state in the society. Writing reflects the period it was written in.
                            <br />
                            <br />
                    Rabindranath Tagore elucidates Art as follows-
                    <br />
                        
                    “It is the response of man’s creative soul to the call of the Real”.  This rich tradition of Indian classical music and art promotes the concepts of harmony, integration and cultural glory. Our culture is a composite mixture of varying styles and influences.
                    <br />
                        <br />

                        India has a rich music culture beginning from the Vedic ages. Music had always been referred to as the soothing healer of maladies. Goddess Saraswati is considered to be the goddess of Knowledge and reigning deity of all fine arts like Music, Dance, drawing, painting, sculpture, drama and the poetry. Music has many forms in India – Ghazal, folk music, classic music etc.

The two major styles of classical music unique to India are-

The Hindustani style popular in North India and
The Carnatic style is popular in South India.
The main purpose of classical music is in Bhakti/devotion to God. 
<br />
                        <br />
                        Dance, in India also has an age-long tradition of over 2,000 years. Dance has emerged from characters of historical legends, mythology, and classical literature. The Indian Dance forms are globally appreciated and its legacy is rich and old. Dance, being a visual medium which involves the movements of hands, legs, facial expression certainly achieves better attention than any spoken or written document. There is an endless list of dance forms like Bharatnatyam, Kathakali, Kathak, Manipuri, Kuchipudi, Odissi Mohiniattam etc. in Indian culture.

Be it the worship of Lord Shiva, or Krishna Radha’s Raasleela, it’s associated with lord Natraja of Dance as well as the Omkara. The first sound of OM from where the music begins, the different Mudras and Rasas in the body movements and emotions like anger, fear, sorrow, courage, compassion or happiness are used to express the feelings and to pass on the mythological stories.
<br />
                        <br />
                        The Indian theatre dates back to even earlier than 4th century BC. Some of the prominent contributors to the Sanskrit theatre were Ashwaghosa (Madhyama Vyayoga), Kalidas (Shakuntlam, Kumarasambhavam) Sudraka(Mricha Katika), Bhavabhhuti(Uttararamacharita) etc.

In the modern era, the Indian drama appreciated and learned the new techniques and novelty of the western theatre. Theatre is a very strong bridge or vehicle to create social awareness.
<br />
                        <br />
                        </p>
                    </div>                
                    
                </div>
            </div>
        </section>
    <!-- jQuery -->
    <script src="../../js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="../../js/custom.js"></script>

</body>

</html>
